/* Tablas de Productos y proveedores*/
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.menu-toogle {
    display: none;
}
/* span {
    margin-left: 20px;
}

.add-button, .delete-button {
    width: 200px;
    padding: 10px 20px;
    margin-right: 100px;
    margin-left: 20px;
}
select {
    width: 200px;
    margin-right: 100px;
    margin-top: 20px;
    margin-left: 10px;
}

table {
    width: 95%;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid black;
    padding: 10px;
}

table th {
    background-color: #f18a8a;
}

td:nth-child(1) {
    background-color: #f18a8a;
} */


@media screen and (max-width:768px){
    .menu-icon {
        display: block;
    }

    .menu-toogle:checked + .nav{
        display: block;

    }

}

