    
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: gray;
  }
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(99, 3, 3, 0.795);
    box-shadow: 0 30px 60px 0 rgba(192, 21, 21, 0.3);
    text-align: center;
  }

  #logoEmpresa {
    margin:.4rem;
    width: 55%;
  }

  form{
    margin: 40px 0;
  }
  
  form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
  }

  .input-padron{
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
  }

  #botonLogin{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background:red;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
  }